/* General */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url(./header.css);
@import url(./home.css);
@import url(./my_skills.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --nav-height: 7.2rem;

  --low-contrast-text: hsla(0, 0%, 100%, 0.5);

  --light-blue: hsla(209, 96%, 65%, 1);

  --light-green: hsla(144, 90%, 80%, 1);
  --strong-green: hsla(151, 96%, 44%, 1);

  --strong-red: hsla(350, 72%, 52%, 1);

  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
}

.wrapper {
  width: min(50rem, 100%);
  margin-right: auto;
  margin-left: auto;
  padding-inline: 2.4rem;
}

body {
  background-color: #212121;
}
