/* My Skills */

/* - Background */

.background_red_ellipse {
  top: 79.8rem;
  position: absolute;

  z-index: -2;
}

.my_skills {
  height: 100rem;
}

.my_skills h1 {
  margin-top: 6rem;

  font-family: 'Poppins';
  font-size: 3rem;
  color: white;
}

.my_skills .wrapper > .border {
  height: 0.2rem;
  background-color: var(--strong-red);

  position: relative;
  top: -0.9rem;

  z-index: -1;
}

.my_skills .wrapper > p {
  margin-top: 3.9rem;
  margin-bottom: 0.7rem;

  font-family: 'DM Sans';
  font-size: 1.2rem;
  color: var(--low-contrast-text);
  text-align: center;
}

.my_skills .menus {
  height: 6.2rem;

  padding-block: 2.1rem;
  padding-inline: 2.4rem;

  background-color: hsla(205, 5%, 19%, 0.5);
  border-radius: 2.5rem;
  box-shadow: 0px 0px 8px 3px rgba(45, 48, 50, 0.33);
  backdrop-filter: blur(12.5px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_skills .menus img {
  width: 2.2rem;

  opacity: 0.3;

  transition: 0.2s;
}

.my_skills .menus img.active {
  opacity: 1;

  filter: brightness(1.5);
}

.my_skills .content {
  height: 70.7rem;

  overflow-y: scroll;

  margin-top: 3rem;
  padding: 1.5rem;

  background-color: hsla(205, 5%, 19%, 0.5);
  border-radius: 2.5rem;
  box-shadow: 0px 0px 8px 3px rgba(45, 48, 50, 0.33);
  backdrop-filter: blur(12.5px);
}

.my_skills .content div.musicSection,
.my_skills .content div.devSection,
.my_skills .content div.designSection,
.my_skills .content div.engeneeringSection,
.my_skills .content div.printSection {
  display: none;
  opacity: 0;

  transition: 0.2s;
}

.my_skills .content div.active.musicSection,
.my_skills .content div.active.devSection,
.my_skills .content div.active.designSection,
.my_skills .content div.active.engeneeringSection,
.my_skills .content div.active.printSection {
  display: initial;
  opacity: 1;
}

.my_skills .content div.devSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

section.post {
  width: 100%;
  min-height: 20rem;

  padding: 1.3rem;

  background-color: #2c2e30;
  border-radius: 1.5rem;

  font-family: 'DM Sans';

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post h2 {
  font-size: 2rem;
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 271px;
}

.post h3 {
  font-size: 1rem;
  color: yellow;
}

.post .border {
  height: 0.1rem;
  width: 100%;

  margin-block: 1rem;

  background-color: hsla(0, 0%, 100%, 0.1);
}

.post p {
  font-size: 1.2rem;
  color: var(--low-contrast-text);

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.post .actions {
  height: 3.5rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.post .actions button {
  height: 100%;

  padding: 0.9rem;
  border-radius: 0.75rem;

  font-family: 'DM Sans';
  font-size: 1.3rem;
  font-weight: bold;
  color: white;

  background-color: hsla(0, 0%, 100%, 0.1);
  border: 0;

  transition: 0.15s;
}

.post .actions button:active {
  opacity: 0.5;
}

.post .actions button.git {
  width: 3.5rem;
  background-color: hsla(263, 57%, 38%, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.post .actions .git img {
  height: 2rem;
}
